{% extends "layout.htm" %}

    {% block title %}- OnDevelopment{% endblock %}

    {% block header %}
        <style>
            .production {
                padding-top: 200px;
                width: 100%;
                text-align: center;
                flex-wrap: wrap;
                color: #fff;
            }
        </style>
    {% endblock %}

    {% block content %} 
    <div class="production">
        <h1>This feature is still on development!</h1> <br/>
        <h4>We are working to make ATLAS a better tool.</h4>
    </div>
    {% endblock %} 

    {% block script %}
    
    {% endblock %}
        
