<!DOCTYPE html>
<html lang="en">
	<head>
		<title>On Development - Flaskr</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<style>
			body {
				overflow: hidden;
				font-family: monospace;
			}
			.background {
				position: absolute;
				z-index: -10;
				width: 100vw;
			}

			@media (max-width: 768px) {
				.background {
					height: 100vh;
				}
			}
		</style>
	</head>
	<body>
		<img src="https://bit.ly/2N3qVwf" class="background">
		<main style="padding: 200px 40px;
					 text-align: center;">
			<form action="/firefox" class="form-group"  method="POST">
				<div class="input-group mb-3">
					<input type="text" name="link_to" class="form-control"/>
					<button type="submit" class="btn btn-primary">Go!</button>
				</div>
			</form>
		</main>
	</body>
</html>
